.vs/CleanArchitecture_2.1/DesignTimeBuild/.dtbcache
.vs/CleanArchitecture_2.1/v14/.suo
.vs/CleanArchitecture_2.1/v15/.suo
.vs/CleanArchitecture_2.1/v15/Server/sqlite3/db.lock
*.ide
.vs/CleanArchitecture_2.1/v15/Server/sqlite3/storage.ide-shm
.vs/CleanArchitecture_2.1/v15/Server/sqlite3/storage.ide-wal
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.g.props
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.g.props
CleanArchitecture.Core/CleanArchitecture.Core/obj/Debug/netcoreapp2.1/CleanArchitecture.core.assets.cache
*.props
CleanArchitecture.Core/CleanArchitecture.Core/obj/Debug/netcoreapp2.1/CleanArchitecture.core.assets.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.g.props
CleanArchitecture_2.1.sln
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csprojAssemblyReference.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csproj.CoreCompileInputs.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.assets.cache
*.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.cache
*.sln
CleanArchitecture.sln
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.g.props
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.cache
*.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/project.assets.json
CleanArchitecture.sln
*.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/project.assets.json
CleanArchitecture.sln
CleanArchitecture.Core/CleanArchitecture.Core/obj/Debug/netcoreapp2.1/CleanArchitecture.Core.csproj.CoreCompileInputs.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.g.props
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.g.props
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/Debug/netcoreapp2.1/CleanArchitecture.Core.csproj.CoreCompileInputs.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/Debug/netcoreapp2.1/CleanArchitecture.Core.csprojAssemblyReference.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/project.assets.json
CleanArchitecture.Infrastructure/obj/CleanArchitecture.Infrastructure.csproj.nuget.cache
CleanArchitecture.Infrastructure/obj/CleanArchitecture.Infrastructure.csproj.nuget.g.props
CleanArchitecture.Infrastructure/obj/Debug/netcoreapp2.1/CleanArchitecture.Infrastructure.assets.cache
CleanArchitecture.Infrastructure/obj/Debug/netcoreapp2.1/CleanArchitecture.Infrastructure.csproj.CoreCompileInputs.cache
CleanArchitecture.Infrastructure/obj/Debug/netcoreapp2.1/CleanArchitecture.Infrastructure.csprojAssemblyReference.cache
CleanArchitecture.Infrastructure/obj/project.assets.json
CleanArchitecture.sln
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.cache
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.g.props
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.g.targets
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.assets.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csproj.CoreCompileInputs.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csprojAssemblyReference.cache
CleanArchitecture.Web/obj/project.assets.json
CleanArchitecture.Web/obj
.vs/CleanArchitecture/v15/.suo
.vs/CleanArchitecture/DesignTimeBuild/.dtbcache
.vs/CleanArchitecture/v15/Server/sqlite3/db.lock
.vs/CleanArchitecture/v15/Server/sqlite3/storage.ide
.vs/CleanArchitecture/v15/Server/sqlite3/storage.ide-shm
.vs/CleanArchitecture/v15/Server/sqlite3/storage.ide-wal
CleanArchitecture.Web/obj/project.assets.json
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/Razor/Views/ToDo/Index.g.cshtml.cs
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/Razor/Views/Account/ConfirmEmail.g.cshtml.cs
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.Views.pdb
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.Views.dll
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.pdb
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.dll
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csprojAssemblyReference.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csproj.FileListAbsolute.txt
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csproj.CoreCompileInputs.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.assets.cache
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.g.targets
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.g.props
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.cache
CleanArchitecture.Web/Migrations/CleanArchitectureContextModelSnapshot.cs
CleanArchitecture.Web/Migrations/20180925113032_TransactionalServices.Designer.cs
.vs/CleanArchitecture/v15/.suo
.vs/CleanArchitecture/DesignTimeBuild/.dtbcache
*.ide-shm
*.ide
*.ide-wal
.vs/CleanArchitecture/DesignTimeBuild/.dtbcache
.vs/CleanArchitecture/v15/.suo
.vs/config/applicationhost.config
CleanArchitecture.Core/CleanArchitecture.Core/bin/Debug/netcoreapp2.1/CleanArchitecture.Core.deps.json
.vs/
.bundle
.DS_Store
db/*.sqlite3
log/*.log
tmp/
CleanArchitecture.Web/bin/
CleanArchitecture.Web/obj/
CleanArchitecture.Core/CleanArchitecture.Core/bin/
CleanArchitecture.Core/CleanArchitecture.Core/obj/
CleanArchitecture.Infrastructure/obj/
CleanArchitecture.Infrastructure/bin/
*.cache
*.pdb
*.txt
*.csproj
CleanArchitecture.Core/CleanArchitecture.Core/bin/Debug/netcoreapp2.1/CleanArchitecture.Core.deps.json
CleanArchitecture.Core/CleanArchitecture.Core/bin/Debug/netcoreapp2.1/CleanArchitecture.Core.dll
CleanArchitecture.Core/CleanArchitecture.Core/bin/Debug/netcoreapp2.1/CleanArchitecture.Core.pdb
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/CleanArchitecture.Core.csproj.nuget.g.props
*.cache
CleanArchitecture.Core/CleanArchitecture.Core/obj/Debug/netcoreapp2.1/CleanArchitecture.Core.csproj.FileListAbsolute.txt
CleanArchitecture.Core/CleanArchitecture.Core/obj/Debug/netcoreapp2.1/CleanArchitecture.Core.dll
CleanArchitecture.Core/CleanArchitecture.Core/obj/Debug/netcoreapp2.1/CleanArchitecture.Core.pdb
CleanArchitecture.Core/CleanArchitecture.Core/obj/project.assets.json
CleanArchitecture.Infrastructure/obj/CleanArchitecture.Infrastructure.csproj.nuget.cache
CleanArchitecture.Infrastructure/obj/CleanArchitecture.Infrastructure.csproj.nuget.g.props
CleanArchitecture.Infrastructure/obj/Debug/netcoreapp2.1/CleanArchitecture.Infrastructure.assets.cache
CleanArchitecture.Infrastructure/obj/Debug/netcoreapp2.1/CleanArchitecture.Infrastructure.csproj.CoreCompileInputs.cache
CleanArchitecture.Infrastructure/obj/Debug/netcoreapp2.1/CleanArchitecture.Infrastructure.csproj.FileListAbsolute.txt
CleanArchitecture.Infrastructure/obj/Debug/netcoreapp2.1/CleanArchitecture.Infrastructure.csprojAssemblyReference.cache
CleanArchitecture.Infrastructure/obj/project.assets.json
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.cache
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.g.props
CleanArchitecture.Web/obj/CleanArchitecture.Web.csproj.nuget.g.targets
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.assets.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csproj.CoreCompileInputs.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csproj.FileListAbsolute.txt
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.csprojAssemblyReference.cache
CleanArchitecture.Web/obj/Debug/netcoreapp2.1/CleanArchitecture.Web.Views.dll
CleanArchitecture.Web/obj/project.assets.json
