/************************* Added by salim dt:15/05/2019 ***************************/
@media only screen and (max-width: 767px) {
    .jbs-session-wrapper {
        .login_scrn [class*="col-"], .frgt_scrn [class*="col-"]{ flex: none;}
    }
    .jbs-session-wrapper .session-inner-wrapper .session-body [class*="btn-"]:not(.btn-success) {
        height: auto !important;
        width: auto;
    }
    .refer_chart { height: 400px; }
    .half_drawer .drawer-content-wrapper{ width: 100% !important;}
    .pagination_area { position: relative; margin-bottom: 10px;}
    .paginationmain .pagerecord.p_rowperpage {position: absolute;right: 30px;}
    .paginationmain .pagerecord.p_records {position: absolute;top: 0;left: 25px;}
    .paginationmain .p_no {position: relative;top: 15px;right: -12px;}
    .tradefrm button { position: inherit; }
    .Tranlimitbox .lmt_box { margin-right: 1%; width: 12%; }
    .Tranlimitbox .lmt_box.btn_del { margin: 22px 0 0 0; width: 9%;}

    .invite_frnd { margin-bottom: 40px !important; }
    .invite_frnd .highcharts-container, .invite_frnd .highcharts-root { width: 100% !important;}
    
    /* .page-title .page-title-wrap {width: 85%;}
    .page-title .page-title-wrap.drawer_btn {width: 15%;} */
    .page-title { position: relative; }
    .page-title .page-title-wrap.drawer_btn { position: absolute; top: -10px; right: 0; }
    .page-title .page-title.d-flex, .pblc_api .page-title.d-flex {display: block !important;}
    // .page-title .page-title-wrap, .page-title nav.breadcrumb, .pblc_api .page-title-wrap, .pblc_api nav.breadcrumb { width: 100%; }
    .PublicApiStatistic .card { margin-bottom: 15px; }
    .plan-user-purchased .pln_prchase {min-height: 400px; margin-top: 15px;}
    .planUserLinear { height: 100%;}
    .hd_brd_mobile { border: none !important; }
    .tbl_overflow_auto { overflow: auto;}
    .wlt_ledger > div > div > div:nth-child(2) { flex: 0 0 65%; }
    .no_mrg{ margin: 0 !important; }
}

@media only screen and (max-width: 479px) {
    .top-filter .btn_area {margin: 0;}
    .page-title .page-title-wrap i { vertical-align: inherit; margin-right: inherit; }    
    .Tranlimitbox .lmt_box { margin-right: 3%; width: 22%; }
    .Tranlimitbox .lmt_box:nth-child(4n) { margin-right: 0; }
    .Tranlimitbox { border-bottom: 1px solid #ccc; margin-bottom: 15px; }
    .pagination_area .p_total { text-align: center; }
    .paginationmain { margin: 15px 0 30px !important; text-align: center !important; position: relative; }
    .paginationmain .pagerecord.p_rowperpage { right: 0; left: 0; top: 10px;}
    .paginationmain .pagerecord.p_records { top: -15px; left: 0; right: 0; }
    .paginationmain .p_no { top: 40px; right: 0; left: 0; }

    .lng_tab_area .lng_tab > span > span { display: none; }
    /* .page-title .page-title-wrap {width: 80%;}
    .page-title .page-title-wrap.drawer_btn {width: 20%;} */
    .r_sel_20 { margin-top: 0; }
}
/************************* end by salim dt:15/05/2019 ***************************/